.emoji.emoji--like
  .emoji__hand
    .emoji__thumb
    
.emoji.emoji--love
  .emoji__heart

.emoji.emoji--haha
  .emoji__face
    .emoji__eyes
    .emoji__mouth
      .emoji__tongue

.emoji.emoji--yay
  .emoji__face
    .emoji__eyebrows
    .emoji__mouth

.emoji.emoji--wow
  .emoji__face
    .emoji__eyebrows
    .emoji__eyes
    .emoji__mouth

.emoji.emoji--sad
  .emoji__face
    .emoji__eyebrows
    .emoji__eyes
    .emoji__mouth

.emoji.emoji--angry
  .emoji__face
    .emoji__eyebrows
    .emoji__eyes
    .emoji__mouth
